/**
* Coronavirus Tags
* Version:           1.0
* Author:            EraTags
* Author URI:        https://eratags.com
* License:           license purchased
* License URI:       https://codecanyon.net/licenses/terms/extended
* Text Domain:       CORONAVIRUS_TAGS
*/



/*
===================================
  Admin Panel Container
===================================
*/
#adminmenu .wp-menu-image img{
    box-sizing:border-box;
     width:21px;
     margin-top:-2px
}
 .covtags-container-adm{
    box-sizing:border-box;
     width:100%;
     display:block;
     position:relative;
     box-sizing:border-box;
}
 .covtags-blocks{
    box-sizing:border-box;
     display:block;
     position:relative;
     width:100%;
     min-height:600px;
     background:#067eb2;
     box-sizing:border-box;
}
 .covtags-blocks::after{
    box-sizing:border-box;
     display:block;
     position:relative;
     width:100%;
     clear:both;
     box-sizing:border-box;
     content:''
}
 .covtags-tab-contents{
    box-sizing:border-box;
     width:220px;
     float:left;
     position:sticky;
     position:-webkit-sticky;
     left:0;
     top:20px;
     box-sizing:border-box;
     z-index:1
}
 .cotags-basic-contents{
    box-sizing:border-box;
     display:block;
     position:relative;
     margin-left:220px;
     box-sizing:border-box;
     width:calc(100% - 220px);
     background:#f5f5f5
}
 .cotags-basic-contents::after{
    box-sizing:border-box;
     display:block;
     position:relative;
     width:100%;
     clear:both;
     content:''
}

/*
===================================
  Left Side Menu
===================================
*/

 .eratags-logo{
    box-sizing:border-box;
     display:block;
     position:relative;
     width:100%
}
 .eratags-logo::after{
    box-sizing:border-box;
     display:block;
     position:relative;
     width:100%;
     clear:both;
     content:''
}
 .responsive-logo{
    box-sizing:border-box;
     width:100%;
     display:block;
     position:relative;
     margin:0 auto
}
 .covtags-settings{
    box-sizing:border-box;
     display:block;
     width:100%;
     min-height:600px
}
 .covtags-settings::after{
    box-sizing:border-box;
     display:block;
     position:relative;
     width:100%;
     clear:both;
     content:''
}
 .block-contents{
    box-sizing:border-box;
     display:block;
     position:relative;
     width:100%;
     background-color:#fff;
     padding:20px;
     min-height:600px
}
 .block-contents::after{
    box-sizing:border-box;
     display:block;
     position:relative;
     content:'';
     width:100%;
     clear:both;
     content:''
}


/*
===================================
  Block Contents
===================================
*/

 .block-contents h1{
    box-sizing:border-box;
     padding:0;
     margin:0;
     display:block;
     font-weight:700;
     font-size:16px;
     border-bottom:1px solid #eee;
     padding-bottom:20px
}
 .covtags-tab-contents ul{
    box-sizing:border-box;
     display:block;
     position:relative;
     padding:0 20px;
     margin:0;
     width:100%
}
 .covtags-tab-contents ul li{
    box-sizing:border-box;
     display:block;
     position:relative;
     float:left;
     width:100%;
     padding:0;
     margin:0
}
 .covtags-tab-contents ul li:first-child{
    box-sizing:border-box;
     margin-top:-10px
}
 .covtags-tab-contents ul li a{
    box-sizing:border-box;
     text-decoration:none;
     color:#fff;
     outline:0;
     border-bottom:1px dashed rgba(255,255,255,.2);
     display:block;
     position:relative;
     width:100%;
     padding:10px 5px;
     font-family:Roboto,sans-serif;
     font-weight:100;
     outline:0
}
 .covtags-tab-contents ul li a:active,.covtags-tab-contents ul li a:focus,.covtags-tab-contents ul li a:hover,.covtags-tab-contents ul li a:visited{
    box-sizing:border-box;
     outline:0;
     text-decoration:none;
     box-shadow:unset
}
 .covtags-tab-contents ul li a span{
    box-sizing:border-box;
     vertical-align:middle
}
 .covtags-tab-contents ul li a span:first-child{
    box-sizing:border-box;
     margin-right:5px
}
 .covtags-contents-body{
    box-sizing:border-box;
     display:block;
     position:relative;
     width:100%;
     padding-top:20px;
     min-height:500px
}
 .covtags-contents-body::after{
    box-sizing:border-box;
     display:block;
     position:relative;
     width:100%;
     clear:both;
     content:''
}
 .covtags-contents-body h4{
    box-sizing:border-box;
     display:block;
     position:relative;
     margin:0;
     float:left;
     display:inline;
     width:20%;
     vertical-align:middle;
     padding:0
}
 .covtags-contents-body input[type=number],.covtags-contents-body input[type=text],.covtags-contents-body select,.covtags-contents-body textarea{
    box-sizing:border-box;
     width:80%;
     border:1px solid #e6e4e4
}
 .covtags-contents-body input[type=number]:active,.covtags-contents-body input[type=number]:focus,.covtags-contents-body input[type=text]:active,.covtags-contents-body input[type=text]:focus,.covtags-contents-body select:active,.covtags-contents-body select:focus,.covtags-contents-body textarea:active,.covtags-contents-body textarea:focus{
    box-sizing:border-box;
     outline:0;
     box-shadow:none
}
 .covtags-contents-body-override input[type=number],.covtags-contents-body-override input[type=text],.covtags-contents-body-override select,.covtags-contents-body-override textarea{
    box-sizing:border-box;
     width:50%
}
 .eratags-fields{
    box-sizing:border-box;
     display:block;
     width:100%;
     padding-bottom:15px
}
 .eratags-fields::after{
    box-sizing:border-box;
     display:block;
     position:relative;
     content:'';
     width:100%;
     clear:both
}
 .setbottom{
    box-sizing:border-box;
     position:absolute;
     bottom:5px
}
 .save-changes-button{
    box-sizing:border-box;
     background:#067eb2;
     padding:5px 10px;
     display:inline-block;
     color:#fff;
     text-decoration:none;
     border-radius:5px
}
 .save-changes-button:focus,.save-changes-button:hover{
    box-sizing:border-box;
     color:#fff
}
 .tags-col-1{
    box-sizing:border-box;
     width:65%;
     display:inline-block;
     float:left
}
 .tags-col-2{
    box-sizing:border-box;
     width:35%;
     display:inline-block;
     float:left;
     position:sticky;
     position:-webkit-sticky;
     top:60px
}
 .covstags-field-contents h4{
    box-sizing:border-box;
     display:block;
     position:relative;
     width:100%;
     border-left:3px solid #057eb2;
     padding-left:10px;
     color:#057eb2
}
 .covstags-field-contents h4 span:first-child{
    box-sizing:border-box;
     font-size:12px;
     vertical-align:middle
}
 .covstags-field-contents h4 span{
    box-sizing:border-box;
     float:left;
     vertical-align:middle
}
 .covstags-field-contents h4.mm-data{
    box-sizing:border-box;
     margin-bottom:5px
}
 .covtags_shortcode_container{
    box-sizing:border-box;
     position:relative;
     margin-top:5px;
     padding:15px;
     background:#ffff0040;
     color:#6d6d6d;
     cursor:pointer;
     word-break:break-all;
     border:1px solid #ff0
}
 h4.rdtl{
    box-sizing:border-box;
     width:100%;
     display:block
}
 .tble-fields{
    box-sizing:border-box;
     display:none;
     padding-top:15px;
     padding-bottom:0;
     overflow:hidden
}

/*
===================================
  Shortcode Generator 
===================================
*/
#covtags-shortcodes{
    box-sizing:border-box;
     display:none
}
 .default-section{
    box-sizing:border-box;
     padding-top:15px;
     padding-bottom:0;
     overflow:hidden;
     display:block
}
 .open-section{
    box-sizing:border-box;
     display:block
}
 .default-section .field-x1,.tble-fields .field-x1{
    box-sizing:border-box;
     width:40%;
     float:left;
     display:inline-block;
     color:#666;
     padding-left:15px
}
 .default-section .field-x2,.tble-fields .field-x2{
    box-sizing:border-box;
     width:60%;
     float:left;
     display:inline-block;
     color:#666
}
 .field-x2 ul{
    box-sizing:border-box;
     padding:0;
     margin:0
}
 .field-x2 ul li{
    box-sizing:border-box;
     margin:0;
     position:relative;
     display:inline-block;
     width:50%;
     float:left
}
 .field-x2 ul li label{
    box-sizing:border-box;
     vertical-align:middle;
     display:block;
     padding:5px
}
 .selectedAnc{
    box-sizing:border-box;
     background:#0185bd
}

 .covtags-widget-container {
   width: 100%;
   display: block;
   position: relative;
   overflow: hidden;
   margin-left: 0px;
 }
 .covtags-widget-radios {
   display: inline-block;
   width: 48%;
 }
 .covtags-widget-radios .title-fit,
 .covtags-widget-radios {
   display: block;
   width: 100%;
   position: relative;
 }
  .covtags-widget-radios .title-f {
    padding-bottom: 7px;
  }
  .covtags-widget-radios ul {
    list-style: none;
    padding-left: 10px;
  }

  .covtags-widget-radios ul li {
    width: 48%;
    float: left;
  }

    .covtags-widget-radios {
      padding-bottom: 10px;
      display: block;
      position: relative;
      width: 100%;
      overflow: hidden;
    }

.covtags-select-combo {
  display: block;
  position: relative;
  margin: 5px 0px 0px 0px;
  padding: 0px;
  width: 100%;
}

.covtags-select-combo-float-right {
  float: right;
  width: auto;
  display: inline-block;
}
.contains-combo-box {
  margin-top: 10px;
  vertical-align: middle;
  display: block;
  overflow: hidden;
  width: 100%;
}
.highlightes-mins {
  display: inline-block;
  background: #057eb224;
  border: 1px solid #057eb252;
  font-size: 12px;
  border-radius: 5px;
  padding: 2px 10px;
  vertical-align: middle;
  margin-top: -5px;
}
