*,::after,::before{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}body,html{display:block;margin:0!important;margin-top:0!important;padding:0;outline:0;background:#fff;font-family:'Noto Sans JP',sans-serif}.tags-banner{display:block;position:relative;height:auto;overflow:hidden;padding-bottom:10px}.tags-banner::before{content:"";background:url(../img/hero.svg);height:100%;width:100%;position:absolute;left:0;top:0;background-size:cover;z-index:1}.tags-banner>*{position:relative;z-index:10}.tags-dark{background:#091b1d!important}.tags-title h1{color:#fff;font-family:Comfortaa,sans-serif;display:inline-block;position:relative}.colored-item{color:#ed4c67}.tags-title p{color:#fff}.tags-title .wp-title{font-size:12px}.tags-white-mode{display:block;position:relative;padding:20px 0}.tags-white-mode h5{display:block;position:relative;color:#091b1d;font-weight:700;font-family:Comfortaa,sans-serif}.covid-title span::before{content:'Wordpress Plugin';position:absolute;left:30px;top:-8px;background:#ed4c67;font-size:8px;padding:3px 5px;display:block;border-radius:4px;color:#fff}.pluginwp{width:100%;background:red;position:absolute}.widget-title{display:block;position:relative;width:100%;overflow:hidden}.widget-title h4{font-size:18px;padding:0;margin-left:0;margin-bottom:10px;color:#0f182e}.widget-title p.descr{font-size:12px;margin-bottom:15px;color:#999;width:60%;margin:0 auto 21px auto}.full-wide{width:100%!important;display:block}.tags-card-elements{padding-bottom:15px;display:block;width:100%;overflow:hidden}.footer-data{background:#2d2d2d;font-size:12px;color:#999;padding-top:25px;padding-bottom:25px}@media only screen and (max-width:650px){.widget-title p.descr{width:90%}}
.navbar {
  margin-bottom: 0px;
}
.navbar-brand {
padding: 0px;
overflow: hidden;
}
.navbar-brand img {
  margin-top: 10px;
  width: 100%;
}
.navbar-default .navbar-collapse,
.navbar-default {
  border: none;
  background: transparent;
}
.tble-dtbanner {
  margin-top: 50px;
}

.title-container-d{padding-top:20px}

@media only screen and( max-width:700px ){
  .tble-dtbanner {
    width: 100%;
    margin-top: 0px;
  }
}

.clbox-data {
  padding:50px 15px;
}

 .sdsdcpa{
   overflow: hidden;
    display: block;
    width: 100%;
    height: 15px;
 }
.widget-contents {
  padding-bottom: 20px;
}



.template-header-container {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}

.wp-section-dark {
  background: #112527;
}
.wp-section-white {
  background:#f8f8fa;
}
.wp-section-set-color {
  background: #3a3838;
}
.tags-headtitle {
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}

.wp-section-dark  .tags-headtitle,
.wp-section-set-color .tags-headtitle {
   color: #fff;
}
.wp-section-dark  .tags-headtitle {
   color: #fff;
}

.tags-headtitle h6 {
  border-left: 3px solid #ee4c67;
   padding-left: 10px;
   padding: 5px 10px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}

 .tags-navbar {
   display: block;
   position: relative;
   overflow: hidden;
   width: 100%;
   padding: 0px;
   padding-bottom: 10px;
   text-align: right;
 }
  .tags-navbar li {
    display: inline-block;
    overflow: hidden;
  }
  .tags-navbar li a {
    padding:15px;
    color: #fff;
    font-size: 12px;
    display: block;
  }

    .tags-navbar li a,
    .tags-navbar li a:focus,
    .tags-navbar li a:active,
    .tags-navbar li a:visited {
      text-decoration: none;
      overflow: hidden;
    }
    .group-ul {
      position: sticky;
      top: 20px;
    }
    .lead {
        font-size: 14px;
        font-weight: 300;
        font-family: sans-serif;
        padding: 35px 0px 5px 0px;
    }
    ol .lead {
      padding: 3px 0px !important;
    }
    .list-group-item.active {
        z-index: 2;
        color: #fff;
        background-color: #081c1e;
        border-color: #081c1e;
    }
    .img-container {
      display: block;
      position: relative;
      width: 100%;
      max-width: 250px;
    }

.remove-padding {
  padding-top: 10px !important;
}
